
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Dancing+Script:wght@500&display=swap');

.clock {
  
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 3.5px;
   text-align: center;

}
  
body{
    font-family: 'Amiri', serif;
max-width: 768px;
min-height: 100vh;
margin: auto;
display: flex;
justify-content: center;
background-image:linear-gradient(#011627 , #034072 , #B5B5B5);
background-position: fixed;
background-size: cover;
background-repeat: no-repeat;
}


.selectdiv {
  
    
    min-width: 100px;
   
  }
  
  

  
  .selectdiv select {
    display: block;
    width: 100%;
    max-width: 320px;
    height: 50px;
    float: right;
    margin: 15px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    border-radius:10px ;
    background-color: #011627;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    color: #17D4FE;
}
main{
    min-width: 350px;
}
.select{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    margin: auto;
    text-align: center;
    align-items: center;
}
.select h2{
    color:#B5B5B5;
    font-size: 30px;
    text-decoration: underline;
}
.prayer1::after{
    content: "الامساك";
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer2::after{
    content: "الفجر" !important;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer3::after{
    content: "الظهر" !important;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer4::after{
    content: "العصر" !important;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer5::after{
    content: "المغرب" !important;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer6::after{
    content: "العشاء" !important;
    text-align: center;
    color: white;
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #011627;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}
.prayer1 , .prayer2, .prayer3, .prayer4, .prayer5, .prayer6{
    text-align: center;
    border-radius: 15px;
    position: relative;
    margin:5px auto;

    background-color: #B5B5B5;
    min-height: 200px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.prayer span{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    width: 100%;
    display: block;
    padding-top: 90px;
}
.prayer-Time{
   display: flex;
   justify-content: space-between;
   align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #BBB;
    
}
.prayer-Time span{
    font-size: 50px;
    font-family: 'Amiri', serif;
    font-weight: bolder;
    text-decoration: underline;
}
.clunder ,.clunder1{
    color: #B5B5B5;
    font-size: 20px;
}
.copyright{
    text-align: center;
    color: white;
    text-decoration: underline;
   margin-top: 25px;
}